.Form {
    background-color: #DBD3D8;
    padding: 2.8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }

  .Form button {
    text-transform: uppercase;
    background-color: #223843;
    color: #EFF1F3;
  }